<% content_for :page_title do %>
  <%= Spree.t(:listing_pages) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_page), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_page_link' %>
<% end if can?(:create, Spree::Page) %>

<table class="table sortable" id="listing_pages" data-hook data-sortable-link="<%= update_positions_admin_pages_url %>">
  <thead>
    <tr data-hook="admin_pages_index_headers">
      <th class="no-border"></th>
      <th><%= t(:title, scope: 'activerecord.attributes.spree/page') %></th>
      <th data-hook="admin_pages_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr id="<%= spree_dom_id page %>" data-hook="admin_pages_index_rows" class="<%= cycle('odd', 'even')%>">
        <td class="move-handle"><span class="icon icon-move handle"></span></td>
        <td><%= link_to page.title, edit_object_url(page) %></td>
        <td data-hook="admin_pages_index_row_actions" class="actions text-right">
          <%= link_to_edit page, no_text: true %>
          <%= link_to_delete page, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pages %>
